extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Rumah Sakit Ananda
			small Purwokerto
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Lainnya
			li.active Here 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Data Pasien
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
			.box-body
				- if(messages.msg_info)
					.alert.alert-success.alert-dismissable
						button.close(type='button', data-dismiss='alert', aria-hidden='true')
							| ×
						h4
							i.icon.fa.fa-check
							| Success!
						| !{messages.msg_info}
				- if(messages.msg_error)
					.alert.alert-danger.alert-dismissable
						button.close(type='button', data-dismiss='alert', aria-hidden='true')
							| ×
						h4
							i.icon.fa.fa-ban
							| Alert!
						| !{messages.msg_error}
				a(href='pasien/add').pull-left.btn.btn-primary
					i.fa.fa-plus 
					|  Tambahkan Pasien
				.data-table
					table.table.table-bordered
						tr
							th
								| No
							th
								| Nama Pasien
							th
								| Gender
							th
								| Ruangan
							th
								| Tgl Masuk
							th
								| Alamat 
							th
								| Action
							if messages.msg_error
								| !{messages.msg_error}
							else
								for row, index in data 
									tr
										td #{index+1}
										td #{row.nama_pasien}
										td #{row.jenis_kelamin}
										td #{row.ruangan}
										td #{row.tgl_masuk}
										td #{row.alamat}
										td
											div(style='display:inline-block')
												a(href='/pasien/edit/#{row.id}').btn.btn-sm.btn-primary
														i.fa.fa-edit
											| 
											div(style='display:inline-block')
												form(method='post', action='/pasien/delete/#{row.id}')
													input(type="hidden",name="_method", value="DELETE")
													button.btn.btn-sm.btn-danger(type='submit')
														i.fa.fa-remove