extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Edit Data Dokter
			small menu for editing doctor data
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Lainnya  
			li.active Here 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Dokter
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/dokter/edit/#{(id==undefined) ? data.id : id}')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								- if (messages.msg_info) 
									.alert.alert-success.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Success! 
										| !{messages.msg_info}
								.form-group
									label
										| Nama Dokter
									input(type='text',value="#{ (nama_dokter == undefined)? data.nama_dokter : nama_dokter}",name='nama_dokter',placeholder='Masukkan Nama', autofocus).form-control
								.form-group
									label
										| Gender
									input(type='text',value="#{ (jenis_kelamin == undefined) ? data.jenis_kelamin : jenis_kelamin }",name='jenis_kelamin',placeholder='Masukkan Gender').form-control
								.form-group
									label
										| Spesialis
									input(type='text',value="#{ (spesialis == undefined) ? data.spesialis : spesialis }",name='spesialis',placeholder='Masukkan Spesialis').form-control
								.form-group
									label
										| Jam Praktik
									input(type='text',value="#{ (jam_praktik == undefined) ? data.jam_praktik : jam_praktik }",name='jam_praktik',placeholder='Masukkan Jam Praktik').form-control
								.form-group
							.box-footer
								input(type="hidden",name="_method", value="PUT")
								button(type='submit').btn.btn-primary
									i.fa.fa-pencil 
									|  Edit
								a(href='/dokter').btn.btn-primary.pull-right
									| Back